.piskvorky{
  background-image:linear-gradient(#615dad,#ffc8da );
  position: absolute;
  right: 80px;
  left: 80px;
  display: flex;
  flex-direction: column;
}

img {
  display: flex;
  justify-content: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 30px;
 }

.text{
  color: white;
  background-color: #283e50;
  width: 700px;
  display: inline-block;
  font-size: 20px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
   }


h1{
  font-size: 50px;
  padding: 20px;
  font-family: Lobster;
  margin: 10px;
}

.textPiskvorky{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
  }

.odkazy {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 30px;
}

.pravidla,
.uvodniStranka{
  background-color: #1fcca4;
  padding: 20px;
  text-align: center;
  color: white;
}

.zacitHrat{
  background-color: #0197f6;
  padding: 20px;
}

a{
  color: white;
  text-decoration: none;

}
.pravidla:focus, 
.pravidla:hover,
.uvodniStranka:focus,
.uvodniStranka:hover {
  background-color: #1cbb96;
  color: white;
}

.zacitHrat:focus, .zacitHrat:hover {
  background-color: #0090e9;
  color: white;
}

.strankaPravidla{
  background-image:linear-gradient(#615dad,#ffc8da );
  display: flex;
  align-items: center;
}
.textpravidla{
  margin-top: 30px;
  justify-content: center;
  width: 700px;
  color: white;
  background-color: #283e50;
  width: 700px;
  display: inline-block;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  position: relative
}

ol {
text-align: justify;
width: auto;
padding-right: 40px;
}

li{
  padding-top: 5px;
  padding-bottom: 5px;
}
.ikonka {
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  filter: invert(100%);
  float: none;
  display: inline-block;
 }

figure{
  display: inline-block;
  flex-direction: row;
  width: 45%;
  height: auto;
  margin: 10px;
  font-size: 15px;
  font-style: italic;
 }

figcaption,
.fotka {
  display: inline-block;
  height: auto;
  width: 100%;
  margin:0;
}

.priklady{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
    }

     @media only screen and (max-width: 380px) {
      .priklady {
      display: block;
      width: 100%;
      margin: 0;
     }
     figure{
      display: inline-block;
      width: auto;
      height: auto;
           }
           .textpravidla {
             min-width: 200px;
           }
           .strankaPravidla {
             min-width: 300px;
           }
    }
    